.Goals{
    margin: 5%;

}
.GoalsForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100px
}
.goalsList{
    margin: 0;
    list-style-type: none;
}
.goal_title{
    display: inline-block
}