.addMenu{
    background-color: gray;
    max-width: 200px;
    height: 200px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}
.Key{
    height: 10px;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.KeyMenu{
    font-size: 18px;
}
.Key>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
}
.Asset{
    background-color: #738683;
    width: 17px;
    height: 17px;
    margin:0
 }
 .Debt{
    background-color: #152950;
    width: 17px;
    height: 17px;
    margin:0
 }
.profile{
    display: flex;
    margin-top: 6%;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: solid black 3px;
    font-size: 22px;
    text-decoration: center;
}

.List{
    list-style-type: none;
}
.input{
    border: solid black 2px;  
    height: 22px;
}
.Networth{
    height: 100vh;
}
.report{
height: 225px;
max-width: 200px;
font-size: 16px;
}
.list{
    display: flex; 
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    max-width:700px;
    list-style-type: none;
    border: solid black 2px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto
}
.lineChartSvg{
    border: black solid 5px
}


.linechart_path {
    stroke-width: 3; 
    fill: none;      
  }
  .linechart_axis {
    stroke: #bdc3c7; 
  }

.axis{
   
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
        /* shape-rendering: crispEdges; */
    
}


.path {
    fill:none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.Resources{
    width: 90%;
    margin-left: auto; 
    margin-right: auto
}
.WalletEntries{
    text-align: left;
}
.WalletTitle{
    text-align: center;
}