.Goals{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    /* margin: 0 5% 0 5%; */
}

.inputs{
    text-align: left;
}
.goalsListItem{
    list-style-type: none;
    text-align: left;
    
}
.goalsList,.GoalsForm,.wheel{
    display: flex;
    flex-direction: column;
    margin-right: auto;  
    margin-left: auto  

}
.wheelImg{
    border: black solid 2px;
}

.wheel{
    text-align: center;
    max-height: 400px; 
}

@media only screen and (min-width: 900px) {
    .Goals{
        flex-direction: row;
    }



}