.Guide{
    display: none;
    height: 100px; 
    width: 50px;
    position: fixed;
    left: 5px;
    top: 250px;
    color: #152950;
    font-size: 18px;
    text-decoration-style: none;
}

.Guide-List>a:hover, .Guide-List>a:active, .Guide-List>a:visited{
    color: #152950;

}


@media only screen and (min-width: 900px) {
    .Guide{
        display: block
 }


}